.container_total_pagina {
  padding: 20px;
}

.container_tiulo_botao_novo{
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button{
    background-color: #102d5e;
    border: none;
    color: white;
    padding: 14px 18px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    &:hover {
      background-color: #224997;
    }
  }
}



.icone {
  font-size: 1.5rem;
}

.lojasContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}


