.container_total_pagina {
  padding: 20px;
}

.container_centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.botaoAdicionar {
  background-color: #224997;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease-in-out;
}

.botaoAdicionar:hover {
  background-color: #102d5e;
}

.icone {
  font-size: 1.5rem;
}

.lojasContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}
